@model ICollection<Category>
@foreach (var item in Model)
{
    <a href="@Url.Action("SearchByCategory","Posts",new { area="", categoryId = item.CategoryId })" class="dropdown-item">@item.CategoryName</a>
}
